.SimpleHeader {
  position: relative;
  padding: #{$spacing * 4} 0;
  transition: ease background-color $transitionSpeed;

  @media screen and (max-width: $bpLarge) {
    position: fixed;
    background-color: $colorWhite;
    width: 100%;
    height: 70px;
    padding: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: ease background-color $transitionSpeed;

    &::after {
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      width: 100%;
      z-index: -1;
      display: block;
      position: absolute;
      background-color: $colorLightGreen;
      transition: ease height $transitionSpeed;
    }

    &.scrolled {
      background-color: $colorLightGreen;
    }

    &.MobleMenuActive::after {
      height: 100%;
    }

    .Container {
      display: flex;
      align-items: center;
    }
  }
}

.SimpleHeader--Logo {
  height: 45px;
  display: block;

  @media screen and (max-width: $bpMedium) {
    height: 35px;
  }
}

.SimpleHeader--MobileSpacer {
  height: 70px;
  width: 100%;
  position: relative;
}
