.ContactForm--Fieldset {
  width: 100%;
  position: absolute;
  background-color: lighten($colorBlack, 75%);
  padding: #{$spacing * 4};
  padding-bottom: #{$spacing * 3};
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  cursor: default;
  transition: ease all $transitionSpeed;
  box-shadow: $boxShadow;

  &.active {
    background-color: $colorWhite;
  }
}

.ContactForm--FieldsetTop,
.ContactForm--FieldsetBottom {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media screen and (max-width: $bpSmall) {
    flex-direction: column;
  }
}

.ContactForm--FieldsetTop {
  padding-bottom: #{$spacing * 2};

  @media screen and (max-width: $bpSmall) {
    z-index: 1;
    padding-bottom: 0;
  }
}
