.ContactForm--Fieldset {
  width: 100%;
  position: absolute;
  background-color: $colorWhite;
  padding: #{$spacing * 2};
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
}

.ContactForm--FieldsetTop,
.ContactForm--FieldsetBottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ContactForm--FieldsetTop {
  padding-bottom: #{$spacing * 2};
}
