.ContactForm--Progress {
  font-size: 1.6rem;
  color: $colorGreen;
  font-weight: 600;

  @media screen and (max-width: $bpMedium) {
    font-size: 1.4rem;
    line-height: 3.4rem;
  }
}

.ContactForm--ProgressNext {
  color: $colorLightGreen;
}
