.ButtonClose {
  position: relative;
  border: none;
  background: none;
  display: block;
  padding: 15px 25px;
  height: 0;
  width: 0;
  outline: none;
  cursor: pointer;
  margin-bottom: #{$spacing * 8};

  .ButtonClose--Line {
    position: absolute;
    height: 3px;
    background-color: $colorBlack;
    display: block;
    transition: ease all $transitionSpeed;

    &.first,
    &.third {
      width: 15px;
      transform: translateY(-50%);

      &.left {
        left: 5px;
      }

      &.right {
        right: 5px;
      }
    }

    &.first {
      top: calc(50% - 1px);

      &.left {
        transform-origin: right bottom;
        transform: rotate(45deg);
      }

      &.right {
        transform-origin: left bottom;
        transform: rotate(-45deg);
      }
    }

    &.second {
      width: 20px;
      top: 50%;
      transform: translateY(-50%);

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    &.third {
      top: calc(50% + -2px);

      &.left {
        transform-origin: right top;
        transform: rotate(-45deg);
      }

      &.right {
        transform-origin: left top;
        transform: rotate(45deg);
      }
    }
  }

  &:hover {
    .ButtonClose--Line {
      &.first,
      &.third {
        &.left {
          left: 10px;
        }

        &.right {
          right: 10px;
        }
      }

      &.second {
        opacity: 0;

        &.left {
          left: 18px;
        }

        &.right {
          right: 18px;
        }
      }
    }
  }
}
