.SelectedCaseText {
  width: calc(50% - #{$spacing * 8});
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $bpLarge) {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &:first-child {
    .SelectedCaseText--Inner {
      padding-right: #{$spacing * 2};
    }
  }

  &:last-child {
    .SelectedCaseText--Inner {
      padding-left: #{$spacing * 2};
    }
  }

  .SelectedCaseText--Inner {
    max-width: 360px;

    @media screen and (max-width: $bpLarge) {
      max-width: unset;
    }

    p {
      @media screen and (max-width: $bpMedium) {
        margin: #{$spacing} 0;
      }
    }
  }
}
