.InlineBanner {
  padding: #{$spacing * 7} 0;

  @media screen and (max-width: $bpLarge) {
    padding: #{$spacing * 4} 0;
  }
}

.InlineBanner--Inner {
  background-color: $colorGreen;
  padding: #{$spacing * 12} 0;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $bpLarge) {
    padding: #{$spacing * 10} 0;
  }

  @media screen and (max-width: $bpMedium) {
    padding: #{$spacing * 8} 0;
  }
}
