.DefaultSection {
  display: flex;
  padding-bottom: #{$spacing * 8};

  .Container {
    display: flex;
    flex-direction: row;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.DefaultSection--Start,
.DefaultSection--End {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.DefaultSection--Start {
  padding-right: #{$spacing * 4};
}

.DefaultSection--End {
  padding-left: #{$spacing * 4};
}

.DefaultSection--ImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.DefaultSection--Image {
  width: 100%;
}
