.DefaultSection {
  padding: #{$spacing * 4} 0;

  .Container {
    display: flex;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.DefaultSection--Start,
.DefaultSection--End {
  position: relative;
  width: 50%;
}

.DefaultSection--Start {
  padding-right: #{$spacing * 4};
}

.DefaultSection--End {
  padding-left: #{$spacing * 4};
}

.DefaultSection--ImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.DefaultSection--Image {
  width: 100%;
}
