.DefaultSection {
  padding: #{$spacing * 4} 0;

  @media screen and (max-width: $bpMedium) {
    padding-top: 0;
    padding-bottom: #{$spacing * 2};
  }

  .Container {
    display: flex;

    @media screen and (max-width: $bpExtraLarge) {
      flex-direction: column;
    }
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.DefaultSection--Start,
.DefaultSection--End {
  position: relative;
  width: 50%;

  @media screen and (max-width: $bpExtraLarge) {
    width: 100%;
  }
}

.DefaultSection--Start {
  padding-right: #{$spacing * 4};

  @media screen and (max-width: $bpExtraLarge) {
    padding-right: 0;
  }
}

.DefaultSection--End {
  padding-left: #{$spacing * 4};

  @media screen and (max-width: $bpExtraLarge) {
    padding-left: 0;
  }
}
