.Hero {
  p,
  h1 {
    color: $colorLightGreen;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  h1 {
    font-family: $fontPrimary;
    font-weight: 300;
    line-height: 3rem;
  }

  .Logo {
    max-width: 400px;
    align-self: center;
    display: block;

    @media screen and (max-width: $bpTablet) {
      max-width: 200px;
      align-self: flex-start;
    }
  }
}
