.Container {
  @include Container;

  &.noPadding {
    padding: 0;
  }

  &.small {
    max-width: $containerWidthSmall;
  }

  &.smaller {
    max-width: $containerWidthSmaller;
  }

  &.tiny {
    max-width: $containerWidthTiny;
  }
}
