.CasesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: #{$spacing * 8};

  @media screen and (max-width: $bpMedium) {
    flex-direction: column;
  }
}

.CasesGrid--Item {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $bpMedium) {
    width: 100%;
  }

  &:nth-child(odd) {
    padding-right: #{$spacing * 4};

    @media screen and (max-width: $bpMedium) {
      padding-right: 0;
    }
  }

  &:nth-child(even) {
    padding-left: #{$spacing * 4};

    @media screen and (max-width: $bpMedium) {
      padding-left: 0;
    }
  }

  &:nth-child(n + 3) {
    padding-top: #{$spacing * 4};
  }

  &:nth-last-child(n + 3) {
    padding-bottom: #{$spacing * 4};
  }
}
