.PostCard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PostCard--ContentLink:hover {
  .PostCard--Image {
    transform: scale(0.95);

    &::after {
      transform: translate(5%, 5%);
    }
  }
}

.PostCard--Image {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  height: 0;
  padding-top: 66.7%;
  transform-origin: 0 20%;
  transition: ease transform $transitionSpeed;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-color: $colorGreen;
    transition: ease transform $transitionSpeed;
    z-index: -1;
  }
}

.PostCard--title {
  margin-top: 3rem;
  margin-bottom: 0;
}

.PostCard--Excerpt {
  @media screen and (max-width: $bpMedium) {
    margin: #{$spacing} 0;
  }
}
