.Navigation {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  background: $colorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease all $transitionSpeed;
  overflow-x: hidden;
  overflow-y: auto;

  @media screen and (max-width: $bpLarge) {
    background: $colorLightGreen;
    top: 70px;
    bottom: 100%;
    left: 0;
    height: 0;
    width: 100%;
    transform: translateX(0);
    align-items: flex-start;
  }

  &.active {
    width: 650px;

    @media screen and (max-width: $bpLarge) {
      width: 100%;
      height: calc(100% - 70px);
      bottom: 0;
    }

    .Navigation--Container {
      transform: scale(1);
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 50vw;
    top: 0;
    bottom: 0;

    @media screen and (max-width: $bpLarge) {
      display: none;
    }
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }

  .Navigation--Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: #{$spacing * 4} 0;
    width: 650px;
    transition: ease all $transitionSpeed;
    transform: scale(0.8);

    @media screen and (max-width: $bpLarge) {
      align-items: flex-start;
      padding: #{$spacing * 4} #{$spacing * 4};
      width: 100%;
      transform: scale(1);
    }
  }

  .Navigation--Icon {
    display: block;
    height: 40px;
  }

  .SocialIcons {
    margin-top: #{$spacing * 2};

    @media screen and (max-width: $bpLarge) {
      margin-left: 0;
    }
  }
}
