.ContactForm--NavigationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: $fontPrimary;
  color: $colorLightGreen;
}

.ContactForm--NavigationButton {
  border: none;
  font-family: $fontPrimary;
  padding: 0;
  font-size: 3rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &.Prev {
    color: $colorLightGreen;
  }

  &.Next {
    color: $colorGreen;
  }
}

.ContactForm--NavigationButtonsDivider {
  padding: 0 $spacing;
}
