.ContactForm--NavigationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: $fontPrimary;
  color: $colorLightGreen;

  @media screen and (max-width: $bpMedium) {
    font-size: 2.4rem;
  }

  @media screen and (max-width: $bpSmall) {
    right: 0;
    top: 100%;
    position: absolute;
    justify-content: flex-end;
  }
}

.ContactForm--NavigationButton {
  position: relative;
  border: none;
  font-family: $fontPrimary;
  padding: 0;
  font-size: 3rem;
  background-color: transparent;
  cursor: pointer;

  @media screen and (max-width: $bpMedium) {
    font-size: 2.4rem;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.Prev {
    color: $colorLightGreen;
  }

  &.Next,
  &.Submit {
    color: $colorGreen;
  }
}

.ContactForm--NavigationButtonsDivider {
  padding: 0 $spacing;
}
