.VerticalHeading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $fontPrimary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin: #{$spacing * 10} 0;

  .VerticalHeading--Left {
    margin-right: $spacing;
  }

  .VerticalHeading--Right {
    margin-left: $spacing;
  }

  .VerticalHeading--Character {
    display: block;
    padding: #{$spacing * 0.1} 0;
  }
}
