.SelectedCaseImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% + #{$spacing * 8});
  z-index: 0;
  padding: #{$spacing * 6} 0;

  @media screen and (max-width: $bpLarge) {
    width: 100%;
  }
}

.SelectedCaseImage--Background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .Left .parallax-inner {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $colorGreen;
    z-index: -1;
    transform: translateY(20px);

    @media screen and (max-width: $bpLarge) {
      transform: translateY(0);
    }
  }

  .Right .parallax-inner {
    position: absolute;
    width: 80%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $colorLightGreen;
    z-index: -2;
    transform: translateY(-20px);

    @media screen and (max-width: $bpLarge) {
      transform: translateY(0);
    }
  }

  &.Reversed {
    .Left .parallax-inner {
      background-color: $colorLightGreen;
    }
    .Right .parallax-inner {
      background-color: $colorGreen;
    }
  }
}

.SelectedCaseImage img {
  width: 65%;
  z-index: 1;
}
