.ContactForm--Required {
  color: $colorLightGreen;
  font-size: 1.6rem;
  font-weight: 600;

  @media screen and (max-width: $bpSmall) {
    position: absolute;
    right: 0;
    top: -70px;
    z-index: -1;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
}
