.ContactForm--Field {
  position: relative;
  flex-grow: 1;
  font-size: 3rem;
  height: 4rem;
  margin-right: #{$spacing * 2};

  @media screen and (max-width: $bpMedium) {
    font-size: 2.4rem;
  }

  @media screen and (max-width: $bpSmall) {
    margin-right: 0;
    margin-bottom: #{$spacing * 2};
  }
}

.ContactForm--Input,
.ContactForm--Textarea {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  font-family: $fontPrimary;
  padding: 0;
  outline: none;
  transform: translateY(-50%);
  top: 50%;
  letter-spacing: 0.1rem;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: $bpMedium) {
    font-size: 2.4rem;
  }
}

.ContactForm--Textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
