.Splitview {
  display: flex;
  flex-direction: row;
  position: relative;

  .Splitview--Left,
  .Splitview--Right {
    width: 50%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Splitview--Left {
    background-color: $colorGreen;

    p,
    h1 {
      color: $colorLightGreen;
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }

    h1 {
      font-family: $fontPrimary;
      font-weight: 300;
      line-height: 3rem;
    }
  }

  .Splitview--Right {
    background-color: $colorLightGreen;
  }

  .Splitview--Content {
    max-width: 550px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .Logo {
      max-width: 400px;
      align-self: center;
    }
  }
}
