.PageIntro {
  padding-top: #{$spacing * 4};
  padding-bottom: #{$spacing * 8};

  &.resetBottomPadding {
    padding-bottom: 0;
  }

  .Container {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $bpMedium) {
      flex-direction: column;
    }
  }

  .PageIntro--Start,
  .PageIntro--End {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and (max-width: $bpMedium) {
      width: 100%;
    }
  }
}

.PageIntro-heading {
  font-size: 3rem;
}
