.Footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.Footer--Logo {
  width: 100%;
  max-width: 175px;
}

.Footer--Columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.Footer--Column {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Footer--Column h5 {
  font-family: $fontPrimary;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin: 0;
}

.Footer--Column p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 300;
}

.Footer .SocialIcons {
  margin-left: -20px;
}

.Footer .SocialIcons a {
  padding-top: 5px;
  padding-bottom: 5px;
}
