.PageSplitter--Clone {
  position: absolute;
  left: 0;
  top: 0;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  width: 100%;
  z-index: 1;
  transition: ease transform $transitionSpeed;
}

.PageSplitter--Main.splitted {
  clip-path: polygon(50% 0%, 0% 0%, 0% 100%, 50% 100%);
  transform: translateX(-325px);
}

.PageSplitter--Clone.splitted {
  transform: translateX(325px);
}
