.PageSplitter--Main,
.PageSplitter--Clone {
  background-color: $colorWhite;
  transition: ease transform $transitionSpeed;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: $colorBlack;
    opacity: 0;
    transition: ease opacity $transitionSpeed;
    z-index: -1;
    cursor: $cursorClose;
  }
}

.PageSplitter--Clone {
  position: absolute;
  left: 0;
  top: 0;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  width: 100%;
  z-index: 1;
  transition: ease transform $transitionSpeed;
}

.PageSplitter--Main.splitted::after,
.PageSplitter--Clone.splitted::after {
  z-index: 1;
  opacity: 0.25;
}

.PageSplitter--Main.splitted {
  clip-path: polygon(50% 0%, 0% 0%, 0% 100%, 50% 100%);
  transform: translateX(-325px);
}

.PageSplitter--Clone.splitted {
  transform: translateX(325px);
}
