// Colors
$colorGreen: #2a4742;
$colorLightGreen: #c9d5d3;
$colorBlack: #000;
$colorWhite: #fff;

// Fonts
$fontPrimary: "Nunito", sans-serif;
$fontSecondary: "Libre Caslon Text", serif;

// Spacing
$spacing: 10px;

// Container
$containerWidth: 1600px;
$containerWidthSmall: 720px;

// transition
$transitionSpeed: 0.2s;
$transition: ease all $transitionSpeed;

// Breakpoints
$bpTablet: 992px;
$bpMobile: 550px;

@mixin Container {
  position: relative;
  display: block;
  width: 100%;
  max-width: $containerWidth;
  padding: 0 #{$spacing * 4};
  margin: 0 auto;

  @media screen and (max-width: $bpMobile) {
    padding: 0 #{$spacing * 2};
  }
}
