// Colors
$colorGreen: #2a4742;
$colorLightGreen: #c9d5d3;
$colorBlack: #000;
$colorWhite: #fff;

// Fonts
$fontPrimary: "Nunito", sans-serif;
$fontSecondary: "Libre Caslon Text", serif;

// Spacing
$spacing: 10px;

// Container
$containerWidth: 1600px;

// transition
$transitionSpeed: 0.2s;
$transition: ease all $transitionSpeed;

// Breakpoints
