/* autoprefixer grid: autoplace */

@import "./typography";

* {
  box-sizing: border-box;
  word-spacing: 0.2em;
}

html {
  font-size: 10px;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}
