/* autoprefixer grid: autoplace */

@import "./typography";

* {
  box-sizing: border-box;
  word-spacing: 0.2em;
}

html {
  font-size: 10px;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Caslon Text", serif;
}
