@import url("https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700|Nunito:400,700&display=swap");

p {
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
