@import url("https://fonts.googleapis.com/css?family=Libre+Caslon+Text:300,400,700|Nunito:300,400,700&display=swap");

p {
  line-height: 3rem;
  letter-spacing: 0.1rem;
  margin: 3rem 0;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Caslon Text", serif;
  font-weight: 300;
}
