.CaseIntroSection {
  padding-top: #{$spacing * 4};

  .Container {
    display: flex;
    flex-direction: row;
  }
  .CaseIntroSection--Start,
  .CaseIntroSection--End {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    font-size: 2.6rem;
  }
}
