.Splitview {
  display: flex;
  flex-direction: row;
  position: relative;

  @media screen and (max-width: $bpTablet) {
    flex-direction: column-reverse;
  }

  .Splitview--Left,
  .Splitview--Right {
    width: 50%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $bpTablet) {
      width: 100%;
    }
  }

  .Splitview--Left {
    background-color: $colorGreen;

    @media screen and (max-width: $bpTablet) {
      margin-top: 70px;
      height: auto;
    }
  }

  .Splitview--Right {
    background-color: $colorLightGreen;

    @media screen and (max-width: $bpTablet) {
      position: fixed;
      top: 0;
      align-items: flex-start;
      height: 70px;
      z-index: 1;

      .Splitview--Content {
        padding: 0;
        justify-content: flex-start;
        position: relative;
        @include Container;
      }
    }
  }

  .Splitview--Content {
    max-width: 550px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
