.Splitview {
  display: flex;
  flex-direction: row;
  position: relative;

  @media screen and (max-width: $bpLarge) {
    flex-direction: column-reverse;
  }

  .Splitview--Left,
  .Splitview--Right {
    width: 50%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: $bpLarge) {
        align-items: flex-start;
      }
    }

    @media screen and (max-width: $bpLarge) {
      width: 100%;
    }
  }

  .Splitview--Left {
    background-color: $colorGreen;

    @media screen and (max-width: $bpLarge) {
      margin-top: 70px;
      height: auto;
    }
  }

  .Splitview--Right {
    background-color: $colorLightGreen;

    @media screen and (max-width: $bpLarge) {
      position: fixed;
      top: 0;
      align-items: flex-start;
      height: 70px;
      z-index: 1;

      .Splitview--Content {
        justify-content: flex-start;
        position: relative;
        @include Container;
        padding: 0;
      }
    }
  }

  .Splitview--Content {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: $bpLarge) {
      padding-top: #{$spacing * 4};
      padding-bottom: #{$spacing * 6};
    }
  }
}
