.SocialIcons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.SocialIcons a {
  position: relative;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  z-index: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;

  @media screen and (max-width: $bpMedium) {
    padding-left: #{$spacing * 1};
    padding-right: #{$spacing * 1};
  }
}

.SocialIcons--Icon {
  height: 20px;
}
